@charset "utf-8";
* {
  margin: 0px;
  padding: 0px;
}
body {
  height: 100vh;
  background: url(../img/zziGGin_04.jpg) no-repeat center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  color: rgb(136, 136, 47);
  text-align: center;
}
