@charset "utf-8";
* {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #222;
}
/* bingo game */
.gameBox {
  width: 600px;
  height: 650px;
  margin: 100px auto;
  padding: 30px 50px;
  box-sizing: border-box;
  text-align: center;
  background: rgb(219, 219, 155);
}
.contents {
  display: flex;
  justify-content: space-around;
}
h3 {
  margin: 10px;
}
h4 {
  margin: 10px;
}
p {
  margin: 15px;
  text-align: left;
}
form {
  margin: 20px;
}
#chance {
  width: 227px;
  position: relative;
  margin: 50px auto;
}
#chance li {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}
#chance .ch06 {
  top: 20px;
  left: -100px;
}
#chance .ch07 {
  top: -20px;
  left: -150px;
}
#chance .ch01 {
  display: block;
}
